ADDRESS {
	FONT-SIZE: x-small; FONT-FAMILY: Geneva, Verdana, Helvetica, Arial, sans-serif
}

BUTTON {
	CURSOR: auto
}

H1 {
	FONT: bold 24px helvetica, arial, sans-serif; COLOR: #00527c
}

HR {
	COLOR: #cccccc; HEIGHT: 1px;
}
INPUT {
	CURSOR: auto; COLOR: #000000
}

SELECT {
   COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, Verdana, sans-serif
}

TEXTAREA {
	CURSOR: text; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}


.divider {
	COLOR: #999999
}
.nospace {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}

.warning {
    FONT-SIZE: 13pt;
    COLOR: #FF0000;

}

.info {
    FONT-SIZE: 13pt;
    COLOR: #000000;
}



.error {
    FONT-SIZE: 13pt;
    COLOR: #FF0000;
}

.verySmall {
}

.verySmallSelected {
    font-weight:bold;
    color:#ffffff;
}

.smallInfoOld {
    COLOR: #239D62;
}


.smallInfo, .smallInfoGreen {
    FONT-SIZE: 8pt;
}

.smallInfoGreen {
    COLOR: #336600; TEXT-DECORATION: none;
}

.mediumInfo {
     padding-bottom:10px;
     padding-left:3px;
     padding-top:5px;
}

.title {
    color: #FF0000
}

.searchBox {
    color:#ffffff;
    margin-left: auto;
    margin-right: auto;
}

.abstract {}

/*.dataRowData {font-family: Verdana, Arial;  text-align: left; background-color:#C5D8FF; font-size: 10pt; font-weight: bold; color: black;}*/

/*.dataRowTitle {font-family: Verdana, Arial;  text-align: right; background-color:#A5C3FF; font-size: 10pt;font-weight: bold; color: black; }*/

.resultsBar table tr td{
    height: 20px;
}
.resultsBar{
    font-size: 0.96em;
    background-color:#8097b5;
    color: #ffffff;
    border-top: 0;
    left: 0;
    width:100%;
    padding:0;
    right:0;
    top:0;
    bottom:0;
    vertical-align:top;
    border-bottom: 0;
}

.resourceTab {
    background-color:white;
    margin:0px;
}

table .itemsResource {
    background-color:#E7EFFF;
    margin:0px;
}



td.resourceTab {
    background-color:#E7EFFF;
    padding:10px
}

.big {font-size:1.03em; font-weight:bold; }

.resourceSearchResource{
    border :1px;


}

/*  Color Bar */
div.space		{ float: none; width: 100%; padding-top: 0px; height: 2px; }


hr.red
{ color: #ff0000; }

/* view record */
.workSubLink { font-size: 11px; vertical-align: top; color: #000000; white-space:nowrap; }
.workImgCover
{
    border:solid #000000 1px;
    margin: 5px;
}



/*Layout*/
#bigtable
{
    width:100%;
    left: 0;
    width:100%;
    padding:0;
    right:0;
    top:0;
    bottom:0;
}

#bigtableCenter
{
    width:100%;
    padding:0;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#topNav
{
    width:100%;
    padding:0;
    border:0;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:white;

}

#leftNav
{
    left: 0;
    border:0;
    background-color:white;
    padding:0;
}

#rightNav
{
    color:black;
    background-color:white;
    left: 0;
    padding:5px;
    right:0;
    top:0;
    bottom:0;
    vertical-align:top;
    border-left: 1px solid;
}


.navTable th.tableTitle{
   background-color:#aaaaaa;
   border-bottom: 1px solid #aaaaaa;
   color:white;
}

.navTable
{
    padding-top:5px;
}
#topNav .navTable th.tableTitle
{
   background-color:white;
}

.navTable td
{
   background-color: white;
   border-bottom: 1px solid #dedede;
   padding-left:5px;
}



.advancedSearchTableCollectionsContainer
{
    border-left:2px #cccccc solid;
}
.advancedSearchTableCollections
{
    padding:10px;
    height:100%;
}





.nailImage
{
    border: 1px #000000 solid;
}

/** LIST RECORDS **/
.viewRecordBox {
    text-align:center;
}

.url {
    color:#339944;
    font-size:11px;
    padding:1px 0 6px 2px;
    vertical-align:top;
}

.workSubLink {
    color:#000000;
    font-size:11px;
    white-space:nowrap;
}

span.bold {
    font-weight:bold;
}

.workLink:hover {
    color:#0000FF;
    font-size:12px;
    vertical-align:top;
}

.tagTitle {
    background-color:#DDDDDD;
    color:#000000;
    font-size:12px;
    padding:3px 6px;
    text-align:right;
    vertical-align:top;
    white-space:nowrap;
    width:65px;
}

.tagContent {
    background-color:#FFFFFF;
    color:#000000;
    font-size:12px;
    padding:3px;
    vertical-align:top;
    width:100%;
}

td.cover {
    text-align: center;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 5px;
}

.workSubLink {
    color:#777777;
    font-size:11px;
    vertical-align:top;
}

div.navSearch {
    color:#FFFFFF;
    float:left;
    font-size:0.9em;
    padding-left:10px;
    text-align:left;
    width:650px;
    margin-top: -3px;
}

div.navSearchCenter {
    color:#FFFFFF;
    margin-top: -3px;
}

div.navResults {
    color:#FFFFFF;
    float:right;
    font-size:1em;
    padding-right:10px;
    text-align:right;
}

/* homepages */
.advancedSearchTable {
    border:2px #cccccc solid;
    border-collapse: collapse;
    border-spacing: 0px; 
}

H2 {
	FONT: bold 18px helvetica, arial, sans-serif; COLOR: #00527c; text-align:center;
}

.advancedSearchTableFields {
    padding:10px;
    border-collapse: collapse;
    border-spacing: 0px;
}
.advancedSearchTableFields th {
    padding:10px;
    text-align:right;
    border-collapse: collapse;
    border-spacing: 0px;
}

.advancedSearchTableFields .sep {
    border-bottom:1px #cccccc solid;
    border-collapse: collapse;
    border-spacing: 0px; 
}

.examples{
    font-size:11px;
}

td.space{
    padding-left:10px;
}