<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Light Repository</display-name>

 <listener>
  <listener-class>com.fourspaces.featherdb.FeatherDBServlet</listener-class>
 </listener>

 <servlet> 
  <servlet-name>HttpProxy</servlet-name> 
  <servlet-class>com.jsos.httpproxy.HttpProxyServlet</servlet-class> 
  <init-param> 
   <param-name>host</param-name> 
   <param-value>http://127.0.0.1:8889</param-value> 
  </init-param>  
 </servlet>

 <servlet-mapping> 
  <servlet-name>HttpProxy</servlet-name> 
  <url-pattern>/</url-pattern> 
 </servlet-mapping>

 <mime-mapping>
  <extension>xml</extension>
  <mime-type>text/xml</mime-type>
 </mime-mapping>

 <mime-mapping>
   <extension>xsl</extension>
   <mime-type>text/xml</mime-type>
 </mime-mapping>		      

 <taglib>
   <taglib-uri>taglib.tld</taglib-uri>
   <taglib-location>/WEB-INF/taglib.tld</taglib-location>
 </taglib>

</web-app>
