<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
        <display-name>Lucene With Geo-Temporal Extensions</display-name>


    

    <!--<context-param>-->
      <!--<param-name>maxIdleBackup</param-name>-->
      <!--<param-value></param-value>-->
    <!--</context-param>-->

    <welcome-file-list>
        <welcome-file>assessmentsNtcir.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <!-- Define a Security Constraint on this Application -->
    <!--<security-constraint>-->
      <!--<web-resource-collection>-->
        <!--<web-resource-name>NTCIR  GeoTime Relevance Judgements Service powered by LGTE. Please use Username and Password for participants area at GeoTime TestCollection</web-resource-name>-->
        <!--<url-pattern>/*</url-pattern>-->
      <!--</web-resource-collection>-->
      <!--<auth-constraint>-->
         <!--&lt;!&ndash; NOTE:  This role is not present in the default users file &ndash;&gt;-->
         <!--<role-name>ntcir</role-name>-->
      <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--&lt;!&ndash; Define the Login Configuration for this Application &ndash;&gt;-->
    <!--<login-config>-->
      <!--<auth-method>BASIC</auth-method>-->
      <!--<realm-name>NTCIR  GeoTime Relevance Judgements Service powered by LGTE. Please use Username and Password for participants area at GeoTime TestCollection</realm-name>-->
    <!--</login-config>-->

    <!--&lt;!&ndash; Security roles referenced by this web application &ndash;&gt;-->
    <!--<security-role>-->
      <!--<description>-->
        <!--The role that is required to log in to the LGTE NTCIR JUDGMENT SERVICE-->
      <!--</description>-->
      <!--<role-name>ntcir</role-name>-->
    <!--</security-role>-->
</web-app>