/* 
    Document   : page_layout
    Created on : Feb 14, 2008, 11:14:03 AM
    Author     : Eric
    Description: Purpose of the stylesheet follows.
*/

html, body  {
	/*font: 10pt Verdana, Arial, Helvetica, sans-serif;*/
	font: 10pt 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #EEEEEE; /* #666 */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	height: 100%;
}

a:visited {
}

/*body {background: #FFF url(../images/mainbg.gif) repeat-x;}*/

/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/
.twoColElsLtHdr #container { 
	width: 100%;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	/*border: 1px solid #000000;*/
	text-align: left; /* this overrides the text-align: center on the body element. */
	height: auto !important;
	/*height: 100%;*/
} 
.twoColElsLtHdr #headerTel {
	padding: 0;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	background: url(../images/mainbg.gif) repeat-x;
	margin: 0 0 0 0;
} 
.twoColElsLtHdr #headerTel h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

/* Tips for sidebar1:
1. Be aware that if you set a font-size value on this div, the overall width of the div will be adjusted accordingly.
2. Since we are working in ems, it's best not to use padding on the sidebar itself. It will be added to the width for standards compliant browsers creating an unknown actual width. 
3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColElsLtHdr #sidebar1 p" rule.
*/
.twoColElsLtHdr #sidebar1 {
	float: left; 
	width: 23em; /* since this element is floated, a width must be given */
	/*background: #EBEBEB;*/ /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0; /* top and bottom padding create visual space within this div */
	height: 100%;
	margin-left: 1em;
}
.twoColElsLtHdr #sidebar1 h3, .twoColElsLtHdr #sidebar1 p {
	margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

/* Tips for mainContent:
1. If you give this #mainContent div a font-size value different than the #sidebar1 div, the margins of the #mainContent div will be based on its font-size and the width of the #sidebar1 div will be based on its font-size. You may wish to adjust the values of these divs.
2. The space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
3. To avoid float drop, you may need to test to determine the approximate maximum image/element size since this layout is based on the user's font sizing combined with the values you set. However, if the user has their browser font size set lower than normal, less space will be available in the #mainContent div than you may see on testing.
4. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This avoids several IE-specific bugs that may occur.
*/
.twoColElsLtHdr #mainContent {
	margin: 1.5em 1.5em 1.5em 25em; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
	height: 100%;
	background: #fff /*url(../images/subgrad.gif) repeat-x*/;
} 
.twoColElsLtHdr #mainContent.fullwidth {
	margin: 0 1.5em 0 1.5em; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
	height: 100%;
} 

.twoColElsLtHdr #mainContent .post{
    border: 2px solid #EEEEEE;
    padding: 4px;
    max-width: 300px;
	text-align: left;
}

.twoColElsLtHdr #mainContent .post h1{
    color: #A63700;
    font-size: 1.15em;  
    margin: 0;
    text-transform: uppercase;
}

.twoColElsLtHdr #mainContent .post h2{
    border: 1px solid #EEEEEE;
    padding: 2px;
    text-align: right;
    font-size:1em;
    font-weight: normal;
}

.twoColElsLtHdr #mainContent .post img{
    float: left;
	margin: 0 10px 0 0;
}

.twoColElsLtHdr #footer { 
    padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
    background:#EEEEEE;
} 
.twoColElsLtHdr #footer p {
    margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
    padding: 10px 0 0 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
}
.fltlft { /* this class can be used to float an element left in your page */
    float: left;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0px;
    font-size: 0px;
    line-height: 0px;
}

/* BACKGROUND COLORS */
.bgWhite {background-color: #FFF;}
.bgGreyLight {background-color: #FAFAFA;}
.bgGreyMedium {background-color: #F1F1F1;}
.bgGreyDark {background-color: #E0E0E0;}
.bgHighlight {background-color:#FFFFF0;}
.bgRed {background-color:#A63700;}

table {border:none; background: transparent;}

/* FOREGROUND COLORS */
.fgRed {color: #A63700;} 
.fgWhite {color: #FFF;}
.fgBlack {color: #000;}
.fgGrey {color: #ccc;}
.allcaps {text-transform: uppercase;}

fieldset {background:transparent;-moz-border-radius:8px; border: #ccc 4px solid; padding: 4px;}
.formtable {border: 1px solid #fff; empty-cells: show;}
.formtable th.th_red {background: #A63700; color: #fff; font-weight: bold; text-align: center;}
.formtable th.th_grey {background: #555555; color: #fff; font-weight: bold; text-align: center;} 
.formtable td {background-color: #f1f1f1;}
.submit {text-align: right;}
.inp_text {border: 1px solid #E0E0E0; padding: 2px;}
.ss_input {border: 1px solid #E0E0E0; padding: 2px; width: 450px;}
.attention {background-color: #FFFFF0; padding: 4px;}
	.important { border:1px solid #A63700;}
	a .important {text-decoration: underline;}
	.critical {background-color: #A63700; color: #FFFFFF;}
	.ok {color: #006600; font-weight: bold;}
	.postit {font-size: 80%; font-weight:normal; border-top: 1px solid #ccc; border-right: 2px solid #000; border-bottom: 2px solid #000; border-left: 1px solid #ccc}
/* BUTTONS */

.button { 
	text-transform: uppercase; 
	background: #FFF url(../images/sprite.png) 0px 0px repeat-x;
	display: -moz-inline-box; /* Gecko */
	display: inline-block; /* IE, Opera and Safari */
	vertical-align: text-bottom; 
	*overflow: visible; /* Remove superfluous padding for IE */
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	margin: auto .25em;
	padding: 0px 8px;
	font-size: 90%;  /* 12px */
	line-height: 2;  /* ~24px */
	*line-height: 1.7; /* For IE */
	min-height: 1.75em; /* For Gecko */
	*min-height: auto; /* For IE */
	color: #555; 
}

a.button {

}

.button:hover { 
	background: #FFF url(../images/sprite.png) 0px -1300px repeat-x;
}
/* PADDING */
.p4 {padding: 4px;}

.radius {/* rounded borders for mozilla and IE7 */
	-moz-border-radius:8px; border: #eeeeee 2px solid;
	border-radius:3px; border: #eeeeee 2px solid;}
.sub_bar {background:#fff; font-size:95%; text-align: right;padding:2px; border: 1px solid #e1e1e1; margin-bottom: 4px;}


.dashed {
	border: 0;
	border-bottom: 1px #ccc dashed;
}

.divider {
	width: 1px;
	height: 20px;
	margin: 0 4px;
	border-left: 1px solid #EEEEEE; 
	border-right: 1px solid #fff;	
}


/*Yoann... just to delimitate the big parts of the option pages, Eric please erase it once you are doing the option page*/
div#content div.bigOption{
    margin:50px 0 50px 0;
    padding:0 0 50px 0;
    border-bottom:#A63700 solid 2px;
    
}
/*
.button:hover {background: transparent url(../images/button_bgs.gif) 0px -10px repeat-x;}
.button:active {background: #FFF url(../images/button_bgs.gif) 0px -105px repeat-x;}


input, select, radio, checkbox {background-color: #fff; color: #555;}
*/
